<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.10/glider.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Movieshop - Contacto</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html" class="navigation">Inicio</a></li>
            <li><a href="./productos.html" class="navigation">Productos</a></li>
            <li><a href="../index.html"><img src="../imagenes/logotipo.png" alt="logo" width="2000" height="2000"></a></li>
            <li><a href="./presupuestos.html" class="navigation">Presupuesto</a></li>
            <li><a href="./contacto.html" class="navigation">Contacto</a></li>
        </ul>
    </nav>

   <div id="mapa" class="mapa"></div>

    <footer>
        <div class="info">
            <div class="movil">
                <p>Telefono de Contacto:<br> +34 65457767</p> 
            </div>
            <div class="mail">
                <p>Email:<br> infopedido@gmail.com</p>
            </div>
            <div class="adress">
                <p>Dirección:<br>Madrid, España</p>
            </div>
        </div>
        <div class="rrss">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://web.telegram.org/"><img src="../imagenes/telegram.png" alt="Telegram" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
            <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.10/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/9f88a731ff.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
    <script src="../js/contacto.js"></script>
</body>
</html>