<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../imagenes/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.10/glider.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../css/lightbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Movieshop - Productos</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="../index.html" class="navigation">Inicio</a></li>
            <li><a href="./productos.html" class="navigation">Productos</a></li>
            <li><a href="../index.html"><img src="../imagenes/logotipo.png" alt="logo" width="2000" height="2000"></a></li>
            <li><a href="./presupuestos.html" class="navigation">Presupuesto</a></li>
            <li><a href="./contacto.html" class="navigation">Contacto</a></li>
        </ul>
    </nav>
    <h1>🎬 Tus Mejores Peliculas y con la Mejor Calidad 🎬</h1>
    <div class="contenedorGaleria" id="contenedor"></div>
    <div class="paginacion">
        <button id="btnAnterior">Anterior</button>
        <button id="btnSiguiente">Siguiente</button>
    </div>
    <footer>
        <div class="info">
            <div class="movil">
                <p>Telefono de Contacto:<br> +34 65457767</p> 
            </div>
            <div class="mail">
                <p>Email:<br> infopedido@gmail.com</p>
            </div>
            <div class="adress">
                <p>Dirección:<br>Madrid, España</p>
            </div>
        </div>
        <div class="rrss">
            <a target="_blank" href="https://web.whatsapp.com/"><img src="../Imagenes/Whatsapp.png" alt="Whatsapp" width="509" height="512"></a>
            <a target="_blank" href="https://www.facebook.com/?locale=es_ES"><img src="../Imagenes/Facebook.png" alt="Facebook" width="512" height="512"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../Imagenes/Instagram.png" alt="Instagram" width="512" height="512"></a>
            <a target="_blank" href="https://x.com/?lang=es"><img src="../Imagenes/twitter.png" alt="twitter" width="512" height="512"></a>
            <a target="_blank" href="https://web.telegram.org/"><img src="../Imagenes/telegram.png" alt="Telegram" width="512" height="512"></a>
            <a target="_blank" href="https://www.tiktok.com/es/"><img src="../Imagenes/Tiktok.png" alt="Tiktok" width="452" height="512"></a>
        </div>
        <hr>
            <cite>Creado por Miguel Arevalo / Todos los derechos reservado</cite>
        <hr>
    </footer>
    <script src="../js/lightbox-plus-jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.10/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/9f88a731ff.js" crossorigin="anonymous"></script>
    <script src="../js/producto.js" defer></script>
</body>
</html>